<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".content1"), home_path_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".content2"), home_path_url %></li>
        <li><%= link_to t(".content3"), help_path_url %></li>
        <li><%= link_to t(".content4"), signup_path_url %></li>
      </ul>
    </nav>
  </div>
</header>
